{% load bootstrap4 %}
{%bootstrap_css %}

body {
    font-family: "Verdana"
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Verdana"
}
.wm-toc-pane {
  max-width: 10%;
}
.admonition.announcement{

  background-color:#FFD685;
  border-color:#fbeed5;
}
blockquote{
  font-size: 14px
}
